@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #ffffff;
  --primary-300: #ffcc21;
  --primary-400: #ff963c;
  --primary-500: #ea6c00;
  --secondary-300: #8fe9d0;
  --linear-gradient-300-400: linear-gradient(
    to top,
    var(--primary-300),
    var(--primary-400)
  );
  --dark-600: #2e2e2e;
  --dark-500: #414141;
  --gray-400: #777777;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin;
  border-radius: 3px;
  scrollbar-color: var(--primary-300) var(--gray-400); /* thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--gray-400);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-300);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffb800;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-300);
  border-radius: 3px;
  min-height: 10px;
}
